.popupMode {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);

    >.popupWindow {
        border-radius: 20px;
        background: linear-gradient(225deg, #331738, #251a23);
        padding: 25px 35px;    
        min-width: 20%;
        min-height: 20%;

        .popupHeader {
            color: white;
            text-align: center;
            
        }
        >form {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            >.buttons {
                display: flex;
                justify-content: space-between;
                >button {
                    flex:1;
                    margin: 5px;
                }
            }
        }
    }
}

  