.popupMode {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);

    >.popupWindow {
        border-radius: 20px;
        background: linear-gradient(225deg, #333132da, #575758de);
        padding: 10px 20px;
        min-width: 20%;
        min-height: 20%;

        .popupHeader {
            color: white;
            position: relative;

            h1 {
                flex-grow: 1;
            }
        }
    }
}

  