.background {
    height: 100%;
    width: 100%;
    background: #161215;
    display: flex;
    align-items: center;
    flex-direction: column;
    >mat-form-field {
        padding: 20px;
    }
}
table {
    min-width: 80%;
}